# ---------------------------------
# Android / Kotlin Standard .gitignore
# ---------------------------------

# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Local configuration
local.properties

# Android Studio
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# NDK
obj/

# Tests
**/test/
**/androidTest/

# Logs
*.log

# APK / AAB
*.apk
*.ap_
*.aab

# Misc
captures/
externalNativeBuild/
.cxx/

# Keystore (不要提交签名文件)
*.jks
*.keystore

# Generated
gen/
out/

# Crashlytics
fabric.properties

# Ignore intermediates
app/build/
*/build/

# Jetpack Compose
*.kotlin_metadata